name: Docker Build

on:
  push:
    branches: master

jobs:
  build-overture:
    name: Build Overture
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Github Docker Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REPO_TOKEN }}
      - name: Tencent Docker Login
        uses: docker/login-action@v1
        with:
          registry: ccr.ccs.tencentyun.com
          username: ${{ secrets.TENCENT_USER }}
          password: ${{ secrets.TENCENT_PASS }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./overture/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/386
          push: true
          tags: |
            ghcr.io/apocalypsor/overture:latest
            ccr.ccs.tencentyun.com/dovlov/overture:latest

  build-smartdns:
    name: Build SmartDNS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REPO_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./overture/Dockerfile-Upstream
          push: true
          tags: ghcr.io/apocalypsor/overture:upstream